﻿@model IEnumerable<Contracts.NoteListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<script type="text/javascript">
    function getNotesList_Complete(result) {
        if (result !== null)
        {
            for (var i = 0; i < result.length; i++) {
                alert(result[i].Title);
            };
        }
        else
        {
            alert("Didn't receive any notes. Bummer!");
        }
    }

    function getNotesList() {
        jQuery.post("/Services/GetNotesForUser", {}, getNotesList_Complete);
    }

    jQuery().ready(function () {
        jQuery("#btnTest").click(getNotesList);
    });

</script>

<button id="btnTest">Test Service</button>

@if (Model != null && Model.Count() > 0)
{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateModified)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateModified)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
}
else
{
    <p>You haven't added any notes. Why not add one now?</p>
}
