﻿/* fonts used by the site */
@font-face {
  font-family: 'sofia-pro-light';
  src: url('fonts/SofiaProLight-webfont.eot');
  src: url('fonts/SofiaProLight-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/SofiaProLight-webfont.woff') format('woff'), url('fonts/SofiaProLight-webfont.ttf') format('truetype'), url('fonts/SofiaProLight-webfont.svg#sofia-pro-light') format('svg');
  font-weight: normal;
  font-style: normal;
}
.bree {
  font-family: bree-serif;
}
.sofia {
  font-family: sofia-pro-light;
}
.verybold {
  font-weight: 700;
  font-stretch: expanded;
}
/*# sourceMappingURL=fonts.css.map */