﻿/* elevenfifty colors */
@color_efgreen: rgb(91,95,37);
@color_efred: rgb(192,56,44);
@color_efyellow: rgb(255,206,123);
@color_darkred: rgb(146,60,31);
@color_orange: rgb(218,81,31);
@color_black: rgb(0,0,0);
@color_grey: #333;
@color_lightgrey: #ddd;
 
@fs9pt: 0.750em;
@fs10pt: 0.813em;
@fs11pt: 0.875em;
@fs12pt: 1.0em;
@fs13pt: 1.063em;
@fs14pt: 1.125em;
@fs15pt: 1.25em;
@fs16pt: 1.313em;
@fs17pt: 1.438em;
@fs18pt: 1.500em;
 
@px1: 0.045em;
@px2: 0.091em;
@px3: 0.136em;
@px4: 0.182em;
@px5: 0.227em;
@px6: 0.273em;
@px7: 0.318em;
@px8: 0.364em;
@px9: 0.409em;
@px10: 0.455em;
@px20: 0.909em;
@px22: 1.00em;
@px25: 1.563em;
@px40: 2.500em;
@px50: 3.125em;
@px66: 4.125em;
@px100: 4.545em;
@px150: 6.818em;
@px200: 9.091em;
@px250: 11.364em;
@px300: 13.636em;
@px350: 15.909em;
@px400: 18.182em;
@px500: 22.727em;